@charset "UTF-8";

*{
    margin: 0px;
}

body{
    background-attachment: fixed;
}

header{
    text-align: center;
    background-color: #23001E;
    color: white;
    height: 140px;
    padding-top: 40px;
}

header > p{
    font-style: italic;
    font-size: 1.2em;
    max-width: 800px;
    padding-top: 30px;
    margin: auto;
}

main{
    background-image: linear-gradient(to top, #808080, #cccccc);
    max-width: 900px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

main > a{
    display: inline-block;
    font: normal bold 1em Arial, Helvetica, sans-serif;       
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 200px;
    margin: auto;
    padding: 100px 10px;
    border: 1px solid #999999;
    border-radius: 50%;
}

main > a:hover{
    background-color: red;
    color: white;
    text-decoration: underline;
}

footer{
    font-size: 0.8em;
    background-color: #23001E;
    color: white;
    text-align: center;
    padding: 10px;
}

footer  a{
    text-decoration: none;
    color: rgb(129, 255, 104);
}

footer a:hover{
    text-decoration: underline;
    font-size: 1.3em;
}